@import 'mixins/before-ie-9';
@import 'mixins/breakpoint';
@import 'mixins/clearfix';
@import 'mixins/rem';
@import 'config';

// ------------------------------------------------
// Cross browser support settings
// ------------------------------------------------
$lt-ie10: false !default;
$lt-ie9: false !default;
$media-queries: true;

// 
// Product preview component styles
//

.quick-view { 
  @include rem(bottom, 5px);
  position: absolute;
  width: 100%;
  &-modal {
    display: none;
    bottom: 0;
    left: 0;
      position: fixed;
      right: 0;
    top: 0;
    z-index: 55; 
    &.is-active {
      display: block;
      // overflow-x: hidden;
      overflow-y: scroll;
    }
  }
  &-canvas {
    width: 60%; 
    max-width: 700px; 
    position: relative;
    display: block;
    top: 50px; 
    left: 0;
    right: 0;
    bottom: 0;   
    // top: 50%;
    margin: auto;
    // margin-top: -200px;
    @media screen and (min-width: $breakpoint-medium) {
      top: 80px;
      width: 80%; 
      max-width: 900px;
      // max-width: 800px;
    }
    @media screen and (min-width: $breakpoint-large) {
      top: 130px;
      max-width: 1000px;
      
    }
    &-inner {
      position: relative;
      
    } 
  }
  &-overlay {
    // margin-right: 17px;
    background: url(../img/general/bg-01.jpg) center no-repeat;
    background-size: cover;
    // background-color: rgba(0, 0, 0, .6); 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -10;
  } 
}

// /*Ie 10/11 */
// @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) 
// {
//   .quick-view-overlay {
//     margin: 0;  
//  }

// }
// /*Edge*/
// @supports ( -ms-accelerator:true ) 
// {
//   .quick-view-overlay {
//     margin: 17px;  
//  }
// }
