@mixin column() {
	margin: 0 rem-calc(10);
  width: 90%;
  @include breakpoint(small only) {
    max-width: rem-calc(400);
  } 
  @include breakpoint(medium) {
    width: 29%; //28
  }
  @include breakpoint(large) {
  	margin: 0 $column-gutter;
    width: 29%; //28
  }
}

@mixin row() {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

@mixin col() {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

@mixin btn() {
  color: $white;
  height: rem-calc(40);
  line-height: rem-calc(32);
  border-radius: rem-calc(30);
  font-family: $primary-font;
  font-size: rem-calc(14);
  font-weight: 400;
  text-align: center;
}

@mixin center() {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

@mixin pos() {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto; 
}

@mixin placeholder() {
  &::-webkit-input-placeholder, 
  &::-moz-placeholder,
  &:-moz-placeholder, 
  &:-ms-input-placeholder {
    color: $light-gray !important;
    font-weight: 300;
    transition: all .3s ease-out;
  }
  &::placeholder {
    color: $light-gray;
    font-weight: 300;
    transition: all .3s ease-out;
  }
}

@mixin placeholder-hov() {
  &::-webkit-input-placeholder, 
  &::-moz-placeholder,
  &:-moz-placeholder, 
  &:-ms-input-placeholder {
    color: $light-gray !important;
    font-weight: 300;
    opacity: 0;
  }
  &::placeholder {
    color: $light-gray;
    font-weight: 300;
    opacity: 0;
  }
}

