$black: #000000;
$dark-gray: #444446;
$light-gray: #b0b2b4;
$gray: #8f8f8f;
$white: #FFF;
$blue: #1ea5d5;
$blue-link: #19a8bb;



$column-gutter: rem-calc(15);
$img-margin: rem-calc(30);

















