$black: #000000;
$dark-text: #24292e;
// $dark-gray: #444446;
$light-gray: #b0b2b4;
$text-bg: #fafafa;
$light-text: #d6d8da;
// $gray: #8f8f8f;
$white: #fff;
$blue: rgba(30, 165, 213, .8);
// $blue-link: #19a8bb;
// $background: #635958;
$background-btn: rgba(99, 89, 88, 0.8);
$elements: rgba(90, 131, 146, .8);
$elements-bg: rgba(90, 131, 146, .2);
$elements-hov: rgba(90, 131, 146, .5);
// $sold-state: #a38b8b;


$column-gutter: rem-calc(18); //15
$img-margin: rem-calc(60);
$img-margin-big: rem-calc(70);
$header-min: rem-calc(110); //130
$header-max: rem-calc(100); //180
$pad-min: rem-calc(15);
$pad-max: rem-calc(30);
















