.form {
  // position: relative;
  padding-top: rem-calc(40);
  &__wrap {
    width: calc(100% - 60px);
    @include breakpoint(medium only) {
      width: calc(100% - 30px);
    }
    @include center();
  }
  &__submit {
    display: none;
  }
  &__area {
    padding: rem-calc(10) 0;
    resize: none;
    border: none;
    background-color: transparent; 
    cursor: pointer;
    @include text(14, $light-gray);
    @include placeholder();
    &:focus {
      cursor: auto;
      @include placeholder-hov();
    }
  }
  &__input {
    padding: rem-calc(10) 0;
    @include text(14, $light-gray);
    min-width: rem-calc(150);
    width: 100%;
    border: none;
    border-bottom: rem-calc(1) solid $light-text; 
    background-color: transparent; 
    cursor: pointer;
    @include placeholder();
    transition: all .4s ease-out;
    &:focus {
      cursor: auto;
      @include placeholder-hov();
    }
  }
}


  