 .header {
	width: 100%;
	height: $header-min; //
	@include breakpoint(medium up) {
    height: $header-max; //130
  } 
  position: relative;
  overflow: hidden;
  &__fix {
    width: 100%; 
    height: rem-calc(110); //???
    position: fixed;
  }
  &__row {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $header-min;
    z-index: 25;
    background: url(../img/general/bg-01.jpg);
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    @include breakpoint(small only) {
      background: rgba(68,68,70,1);
      background: linear-gradient(to bottom, $dark-gray 0%, rgba(68,68,70,0.7) 65%, transparent 100%);
     }
    @include breakpoint(medium up) {
      height: $header-max;
    } 
  }
  &__wrap {
    position: relative;
  }
  &-title {
    // position: absolute;
    // top: 0; //2.875
    // left: 0;
    // right: 0;
    padding: 0 rem-calc(10);
    margin: 0 auto;
    text-align: center;
    // @include breakpoint(small only) {
    //   top: $column-gutter;
    // }
    &__link {
      @include link(36);
      @include breakpoint(small only) {
        font-size: rem-calc(30);
      }
    }
  }
}


/*Ie 10/11 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) 
{
  .header__row{
   width: calc(100% - 17px);  
 }

}






