 .header {
	width: 100%;
  @include breakpoint(small only) {
    background: rgba(68,68,70,1);
    background: linear-gradient(to bottom, $dark-gray 0%, rgba(68,68,70,0.7) 65%, transparent 100%);
  }
	height: $header-min; 
	@include breakpoint(medium up) {
    height: $header-max; 
  }

  position: relative;
  overflow: hidden;
  // &__fix {
  //   width: 100%; 
  //   height: rem-calc(110); //???
  //   position: fixed;
  // }
  &__row {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $header-min;
    z-index: 25;
    background: url(../img/general/bg-01.jpg);
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    @include breakpoint(small only) {
      background: rgba(68,68,70, 0.9);
      box-shadow: 0px 6px 14px 0px rgba(68,68,70, 0.9);
     }
    @include breakpoint(medium up) {
      height: $header-max;
    } 
  }
  &__wrap {
    position: relative;
  }
  &-title {
    padding: 0 rem-calc(10);
    margin: 0 auto;
    text-align: center;
    &__link {
      @include link(36);
      @include breakpoint(small only) {
        font-size: rem-calc(30);
      }
    }
  }
}


/*Ie 10/11 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) 
{
  .header__row{
   width: calc(100% - 17px);  
 }

}

/* retina */
@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .header {
    &__row {
      @include breakpoint(medium down) {
        background: rgba(68,68,70, 0.9);
        box-shadow: 0px 6px 14px 0px rgba(68,68,70, 0.9);
      }
      @include breakpoint(medium only) {
        background: rgba(68,68,70, 0.9);
        box-shadow: 0px 6px 14px 0px rgba(68,68,70, 0.9);
      }
    }
  }
}




