.search {
  display: flex;
  border-radius: rem-calc(30); 
  border: 1px solid rgba(68, 68, 70, 0.3);
  background: rgba(68, 68, 70, 0.3);
  padding: 0 rem-calc(15); 
  @include breakpoint(small only) {
    border-color: transparent; 
  }
   z-index: 1;
  &__wrap { 
    padding: rem-calc(30);
    justify-content: flex-end; 
    @include breakpoint(small only) {
      padding: rem-calc(5); 
    }
  }
  &__input {
    padding-left: rem-calc(10); 
    width: rem-calc(230);
    border: none; 
    background-color: transparent; 
    cursor: pointer;
    vertical-align: middle;
    color: $white;
    font-family: $primary-font;
    font-size: rem-calc(16);
    font-weight: 300;
    transition: width .4s ease;
    &::-webkit-input-placeholder, 
    &::-moz-placeholder,
    &:-moz-placeholder, 
    &:-ms-input-placeholder {
      color: $white !important;
      font-weight: 300;
    }
    &::placeholder {
      color: $white;
      font-weight: 300;
    }
    &:focus {
      color: $white;
      cursor: auto;
    }
    @include breakpoint(small only) {
      padding-left: 0; 
      width: 0; 
      &:focus {
        padding-left: rem-calc(10); 
        width: rem-calc(130);
      } 
    } 
  }
  &__label {
    width: 100%;
    color: $white;
    line-height: rem-calc(45); 
    transition: all .4s ease;
    @include breakpoint(small only) {
      line-height: rem-calc(35); 
    }
    &:hover {
      color: $blue;
      cursor: pointer; 
    }
  }
  &__icon {
    padding-top: rem-calc(5); 
  }
}

