.share {
	&__btn {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    margin-right: rem-calc(4);
    text-align: center;
    color: $white;
    font-size: rem-calc(18);
    line-height: 24px;
    background-color: $background-btn;
    transition: background-color .4s ease-in-out;
    &:last-child {
    	margin-right: 0;
    }
    &--vkontakte {
      &:hover {
    	   background-color: #48729E;
      }
    }
    &--facebook {
      &:hover {
    	 background-color: #3B5998;
      }
    }
    &--twitter {
      &:hover {
    	 background-color: #00aced;
      }
    }
    &--viber {
      &:hover {
    	 background-color: #7b519d;
      }
    }
    &--whatsapp {
      &:hover {
    	 background-color: #65bc54;
      }
    }
    &--telegram {
      &:hover {
    	 background-color: #64a9dc;
      }
    }
  }
}