.three-col {
  // border: 1px solid red;
  @include column();
  &--fix {
    @include breakpoint(medium up) {
      margin-bottom: rem-calc(140); 
    }
  }
  &__content {
    position: relative;
  }
  &__container {
    // padding-top: $header-min; 
    @include breakpoint(medium up) {
      // padding-top: $header-max; 
    }
    &--scroll {
      padding-top: $header-min; 
      @include breakpoint(medium up) {
        padding-top: $header-max; 
      }
    }
  }
  &__row {
    width: 100%; 
    @include row();
    justify-content: center;
    // padding-bottom: rem-calc(200);
    @include breakpoint(small only) {
      padding-top: rem-calc(30); 
    }
    &--fix {
      @include breakpoint(small only) {
        padding-bottom: rem-calc(80); //70
      }
    }
  }
  &__text {
    // border: 1px solid;
    width: 100%;
    padding: 0 rem-calc(5) 0 0; 
    margin-bottom: 1.875rem;
    @include text(18, $dark-text);
    text-align: left;
    &-title {
      // border: 1px solid;
    }
    &-grid {
      @include title(13, $dark-text);
      margin: 0;
      &--bot {
      padding-top: rem-calc(8);
      border-bottom: 1px solid $light-gray;
      }
      &--top {
        padding-top: rem-calc(8);
        border-top: 1px solid $light-gray;
      }
    }
    
    &-wrap {
      // border: 1px solid blue;
      position: relative;
      overflow: hidden;
      background-color: $text-bg;
      &-grid {
        padding: 0 rem-calc(22) rem-calc(10);
        display: grid;
        grid-template-rows: 10% 18% 10% 18% auto 15%;
        grid-row-gap: rem-calc(5);
        @include breakpoint(medium only) {
          grid-template-rows: 10% 18% 10% 18% auto 22%;
        }
        // &-title {
        //   padding-top: rem-calc(8);
        //   border-bottom: 1px solid $light-gray;
        //   &--top {
        //     border-bottom: none;
        //     border-top: 1px solid $light-gray;
        //   }
        // }
        &-tall {
          // justify-items: end;
          display: grid;
          grid-template-rows: 50% 50%;
          grid-template-columns: 40% 60%;
          grid-column-gap: rem-calc(15);
        }
      }
    }
    &--more, 
    &--less {
      @include text(14, $light-gray);
    }
  }
  &__img {
    transition: all 0.37s cubic-bezier(0, 0, 0.58, 1);
    // transition: transform .4s ease-out;
    &:hover {
      transform: scale(1.1, 1.1);
    }
    &-share {
      position: absolute;
      top: $column-gutter;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
      opacity: 0;
      transition: opacity .4s ease-out; 
    }
    &-box {
      overflow: hidden;
      // border: 1px solid red;
    }
    &-wrap {
      // border: 1px solid blue;
      margin-bottom: $img-margin;
      transition: all .3s ease-in;
      position: relative;
      font-size: 0;
      // overflow: hidden; 
      width: 100%; /*!!!!!!!!!!!!*/
      @include breakpoint(medium) {
        margin-bottom: $img-margin-big;
      }
      &:hover {
        cursor: pointer;
        & .three-col__img-share {
          opacity: 1;
        }
        & .three-col__img-title {
          color: $black;
          &::after {
            transition: opacity .8s ease-out;
            opacity: 1;
          } 
        }
      } 
    }
    &-title {
      // padding: 0;
      padding: rem-calc(10);
      width: 100%; 
      @include title(13, $dark-text)
      text-align: center;
      transition:
      color .4s ease-out;
      &-wrap {
        // border: 1px solid red;
        position: absolute;
        /* bottom: -30px; */
        /* z-index: 20; */
        left: 0;
        right: 0;
        margin: auto;
        
        overflow: hidden;
        // margin: 0 auto;
        transition: all .4s ease-out;
      }
    }
  }
  // &-video {
  //   &__btn {
  //     position: absolute;
  //     top: 0;
  //     bottom: 0;
  //     right: 0;
  //     left: 0;
  //     margin: auto;
  //     display: inline-block;
  //     width: rem-calc(60);
  //     height: rem-calc(60);
  //     text-align: center;
  //     color: $white;
  //     font-size: rem-calc(60);
  //     line-height: rem-calc(60);
  //     transition: transform .4s ease-out;
  //     &:hover {
  //       transform: scale(1.1, 1.1);
  //     }
  //   }
  // }
}
















/*Ie 10/11 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) 
{
  .three-col {
    &__text {
      &-wrap {
        &-grid {
          display: -ms-grid;
          -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr auto auto;
          & > div {
            &:first-child {
              -ms-grid-column: 1;
              -ms-grid-row: 1;
            }
            &:nth-child(2) {
              display: -ms-grid;
              -ms-grid-columns: 2fr 3fr;
              -ms-grid-column: 1;
              -ms-grid-row: 2;
              & > div {
                &:first-child {
                  -ms-grid-column: 1;
                  -ms-grid-row: 1;
                }
                &:nth-child(2) {
                  -ms-grid-column: 2;
                  -ms-grid-row: 1;
                }
                &:nth-child(3) {
                  -ms-grid-column: 1;
                  -ms-grid-row: 2;
                }
                &:nth-child(4) {
                  -ms-grid-column: 2;
                  -ms-grid-row: 2;
                }
              }
            }
            &:nth-child(3) {
              -ms-grid-row: 3;
            }
            &:nth-child(4) {
              display: -ms-grid;
              -ms-grid-columns: 2fr 3fr;
              -ms-grid-column: 1;
              -ms-grid-row: 4;
              & > div {
                &:first-child {
                  -ms-grid-column: 1;
                  -ms-grid-row: 1;
                }
                &:nth-child(2) {
                  -ms-grid-column: 2;
                  -ms-grid-row: 1;
                }
                &:nth-child(3) {
                  -ms-grid-column: 1;
                  -ms-grid-row: 2;
                }
                &:nth-child(4) {
                  -ms-grid-column: 2;
                  -ms-grid-row: 2;
                }
              }
            }
            &:nth-child(5) {
              -ms-grid-row: 6;
            }
            &:nth-child(6) {
              -ms-grid-row: 9;
            }
          }

        }
      }
    }
    
  }

}

      // video {
      //   max-width: 640px;
      // }


