.three-col {
  @include column();
   
  @include breakpoint(medium up) {
    margin-bottom: rem-calc(300); 
  }
  background: linear-gradient(to right, $dark-gray, rgba(125, 185, 232, 0));
  z-index: 1;
  &__row {
    width: 100%; 
    @include row();
    justify-content: center;
    z-index: 10;
    &--pd {
      margin-top: $img-margin; 
    } 
  }
  &__wrap {
    width: 100%;
    height: 100%; 
    position: relative;
  }
  &__container {
    padding-bottom: 30vh;
  }
  &__title {
    width: 100%; 
    position: sticky;
    top: $header-min;
    @include breakpoint(medium up) {
      top: rem-calc(130);
    } 
    overflow: hidden;
    z-index: 20;
    &::before, 
    &::after {
      content: "";
      display: table; 
    }
  }
  &__link {
    padding: rem-calc(10);
    @include breakpoint(medium up) {
      @include col();
      padding: rem-calc(30);
      min-height: rem-calc(132);  
    } 
    width: 100%;
    height: 100%; 
    @include row();
    justify-content: center; 
    align-items: center;
    @include link(28);
    text-align: center;
    transition: color .4s ease-out; //
    position: relative;
    &:focus, &:active {
      color: $white;
    }
    &--active {
      color: $white;
      &:focus {
        color: $white;
      }
    }
    &--bg {
      background: linear-gradient(to right, $dark-gray, rgba(125, 185, 232, 0)); 
    }
  }
  &__text {
    width: 100%;
    padding: rem-calc(5) rem-calc(5) 0 rem-calc(10); //
    @include text(18, $white);
    text-align: justify;
    @include breakpoint(small only) {
      margin-bottom: rem-calc(15);
      padding-bottom: rem-calc(30);
      height: rem-calc(45);
      overflow: hidden;
    }
    &-wrap {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    &--link {
      display: block;
      padding: 0;
      color: $white;
      @include breakpoint(small only) {
        margin: 0;
      }
      &:hover {
        opacity: 0.7;
      }
    }
    &--pd {
      padding-bottom: rem-calc(150); 
    }
    &--bg {
      background: linear-gradient(to bottom, $dark-gray, rgba(125, 185, 232, 0));
    }
    &--tall {
      align-items: center;
    }
    &--mobile {
      height: auto;
    }
    &--visible {
      height: auto;
    }
  }
  &__img {
    &-text {
      padding-left: rem-calc(10);
      margin-bottom: $img-margin; 
      position: relative;
      font-size: 0;
      overflow: visible;
    }
    &-hid {
      visibility: hidden;
    }
    &-none {
      @include breakpoint(small only) {
        display: none;
      }
      @include breakpoint(large) {
        display: none;
      }
    }
    &-wrap {
      margin-bottom: $img-margin;
      padding-left: rem-calc(10);
      transition: all .4s ease-in;
      position: relative;
      font-size: 0;
      overflow: hidden; 
      &:hover {
        cursor: pointer;
        & .three-col__img-title {
          color: $black;
          background-color: $white;
          &-wrap {
            transform: translateY(0);
          } 
        }
      } 
    }
    &-title {
      padding: rem-calc(10) rem-calc(15);
      width: 100%; 
      color: $white;
      font-family: $primary-font;
      font-size: rem-calc(22);
      font-weight: 400;
      background-color: $dark-gray;
      text-align: center;
      transition:
      color .4s ease-in,
      background-color .6s ease-out;
      &-wrap {
        position: absolute;
        overflow: hidden;
        right: 0;
        bottom: rem-calc(0); 
        background-color: $dark-gray;
        transform: translateY(24px); 
        transition: all .4s ease-out;
      }
    }
  }
  &__tab {
    width: 100%; 
    display: none;
    &--active {
      display: block;
    }
  }
  &__content {
    width: 100%; 
    @include row();
    justify-content: center;
    &--mod {
      @include breakpoint(medium up) {
        justify-content: space-between;
      } 
    }
  }
  &__col {
    @include column();
    display: inline-block;
    background: linear-gradient(to right, #444446, rgba(125, 185, 232, 0));
    @include breakpoint(medium up) {
      margin-bottom: rem-calc(300); 
    }
    &--mod {
      @include column-mod();
      margin-left: 0;
      margin-right: 0;
    }
  }
  &-nav {
    width: 100%; 
    @include row();
    justify-content: center;
    position: sticky;
    top: $header-min;
    @include breakpoint(medium up) {
      top: rem-calc(130);
    } 
    overflow: hidden;
    z-index: 20;
    &__link {
      transition: none;
      &:hover {
        transition: color .4s ease-out;
      }
    }
    &__item {
      @include column();
      margin-bottom: rem-calc(16); 
      @include breakpoint(small only) { 
        margin-bottom: rem-calc(5);
      }
      &--active {
        order: 3; 
        @include breakpoint(medium up) {
          order: inherit;
        }
      }
    }
  }
}






