.back-top {
	position:fixed;
	bottom: rem-calc(5);
	right: rem-calc(5);
	@include breakpoint(large) {
    bottom: rem-calc(20);
		right: rem-calc(20); 
  }
	z-index: 50;
	&__btn {
		@include btn-fixed();
	}
}